
  //NotoSansSC
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Black.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans SC';
//     src:  url('./fonts/NotoSansSC/NotoSansSC-Thin.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
  
  
//   //NotoSansTC
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Thin.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Noto Sans TC';
//     src:  url('./fonts/NotoSansTC-Black.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
  //OpenSansCondensed
//   @font-face {
//     font-family: 'Open Sans Condensed';
//     src:  url('./fonts/OpenSansCondensed/Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Open Sans Condensed';
//     src:  url('./fonts/OpenSansCondensed/Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow Condensed';
//     src:  url('./fonts/BarlowCondensed/Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   //Barlow
//   @font-face {
//     font-family: 'Barlow-Thin';
//     src:  url('./fonts/Barlow/Thin.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow';
//     src:  url('./fonts/Barlow/ExtraLight.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow Light';
//     src:  url('./fonts/Barlow/Light.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow Regular';
//     src:  url('./fonts/Barlow/Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow Medium';
//     src:  url('./fonts/Barlow/Medium.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }
//   @font-face {
//     font-family: 'Barlow';
//     src:  url('./fonts/Barlow/Bold.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
//   }